<div class="page-action">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>

<div class="row">
  <div class="col-md-4 image-container thumbnail">
    <%= image_tag(@product.image_url, class: "product-image") %>
  </div>

  <div class="col-md-8">
    <h2>
      <%= @product.name %>
    </h2>

    <div class="rated", data-score="<%= @product.average_rating %>"></div>

    <div class="price-container">
      <h3>
        <% if @product.price.blank? %>
          Price not yet determined
        <% else %>
            $<%= sprintf "%.2f", @product.price %>
        <% end %>
      </h3>
    </div>

    <p>
      <strong>Colour: </strong>
      <%= @product.colour %>
    </p>

    <% if !@product.price.blank? %>
      <%= form_tag "/payments/create" do %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>
    <% end %>

    <div class="description-container">
      <p>
        <%= @product.description %>
      </p>
    </div>
  </div>
</div>

<div class="row comments-title">
  <div class="col-md-12">
    <h3>Comments</h3>
  </div>
</div>
<div class="row comments-container">
  <div class="col-md-9">
    <%= render 'comments' %>
  </div>
  <div class="col-md-3" id="new-comment">
    <%= render 'new_comment' %>
  </div>
</div>
