<p id="notice"><%= notice %></p>
<div class="content">
  <h2>
    <%= @product.name %>
  </h2>
  <%= image_tag(@product.image_url, class: "show-img") %>

  <p>
    <strong>Description:<br></strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Colour:<br></strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:<br></strong>
    <% if @product.price.blank? %>
      Price not yet determined
    <% else %>
      $<%= @product.price %>
    <% end %>
  </p>

  <div class="page-action">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
</div>
