<!DOCTYPE html>
<html>
<head>
  <title>Nameofapp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <meta name='viewport' content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Bike Ottawa", root_path, {class: 'navbar-brand'} %>
        </div>
        <%= form_tag('/products', method: 'get', class: 'navbar-form navbar-left') do %>
          <%= label_tag(:q, 'Search for: ') %>
          <%= text_field_tag(:q) %>
          <%= submit_tag('Search', class: 'btn btn-primary btn-xs') %>
        <% end %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Products", products_path %></li>
            <li><%= link_to "About", static_pages_about_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li>
              <% if user_signed_in? %>
                <%= link_to('My Account', user_path(current_user.id)) %>
              <% end %>
            </li>
            <li>
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              <% else %>
                <%= link_to('Login', new_user_session_path) %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END OF NAVBAR -->

    <% if notice %>
      <p class="notice alert-info"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="container">

      <%= yield %>

    </div>

<footer>
  &copy; 2015 Bike Ottawa
</footer>

</body>
</html>
